@media only screen and (min-width: 350px) {

    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
        display: flex;
    }

    #hero h1 {
        display: block;
        position: relative;
        width: fit-content;
        color: transparent;
        font-size: 34px;
        letter-spacing: 0.4px;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1s;
    }

    #hero h3 {
        display: block;
        position: relative;
        width: fit-content;
        color: #fff;
        margin-top: 4px;
        margin-bottom: 20px;
        font-size: 17px;
        color: transparent;
        animation: text_reveal .7s ease forwards;
        animation-delay: 4.5s;
    }

    .about .content .textBt p {
        text-align: justify;
        color: #211919;
        font-size: 16px;
        padding: 0;
        margin-top: 20px;
        height: 342px;
        overflow: scroll;
        width: 82vw;
    }

    .about .content {
        flex-direction: column-reverse;
        display: flex;
    }

    #skills .skills-item {
        flex-basis: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        border-radius: 10px;
        background-color: grey;
        margin: 16px 13px;
        box-shadow: 1px 2px 3px #66fcf1;
    }
    .card {
       display: flex;
       background-color: #000;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 20px;
        
    }
    #skills .section-title {
        font-size: 23px;
   }

    .card img {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }
    .card > div {
        padding: 32px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

}


@media only screen and (min-width: 600px) {

    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
        display: flex;
    }
    
    .about .content .textBt p {
        text-align: justify;
        color: #211919;
        font-size: 16px;
        padding: 0;
        margin-top: 20px;
        margin-left: -120px;
        height: 342px;
        max-width: 700px;
        overflow: scroll;
    }
    .about {
        flex-direction: column;
    }   
    
    .about .content .imgBt img {
            max-width: 100%;
            height: 439px;
            width: 90%;
            object-fit: contain;
           
    }

    .about .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        border-radius: 10px;
        background: #f1f1f1;
        margin-bottom: 32px;
        padding: 0;
        background: #000;
        
    }
    #skills .section-title {
        
        font-size: 34px;
   }

    .card img {
        width: 100%;
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        object-fit: contain;
    }
    .card > div {
        padding: 32px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

}

@media only screen and (min-width: 768px) {
    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-end;
        display: flex;
    }

    #hero h1 {
        display: block;
        position: relative;
        width: fit-content;
        color: transparent;
        font-size: 42px;
        letter-spacing: 0.4px;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1s;
    }

    .about {
        background: #eaeaea;
        padding: 40px;
        min-height: 100vh;
        padding-top: 30px;
    }
    
    .about .content {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        flex-direction: row;
        margin-top: 40px;
    }
    
    
    .about .content .textBt p {
        float: right;
        /* height: 438px; */
        width: 100%;
    }
    
    
    .about .content .imgBt img {
        max-width: 100%;
        height: 439px;
        width: 100%;
        object-fit: contain;
        
    }
    
   
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        border-radius: 10px;
        background: #f1f1f1;
        margin-bottom: 32px;
        padding: 0;
        background: #000;
        
    }
   

    .card img {
        width: 100%;
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        object-fit: contain;
    }
    .card > div {
        padding: 32px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}

@media only screen and (min-width: 992px) {
    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-;
        display: flex;
    }
    #hero h1 {
        display: block;
        position: relative;
        width: fit-content;
        color: transparent;
        font-size: 54px;
        letter-spacing: 0.4px;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1s;
    }


    .about .content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 70px;
        }

    .about .content .textBt p {
        height: 438px;
    }

    .about .content .imgBt img {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        
    }
    

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        border-radius: 10px;
        background: #f1f1f1;
        margin-bottom: 32px;
        padding: 0;
        background: #000;
        
    }

    .card img {
        width: 100%;
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        object-fit: contain;
    }
    .card > div {
        padding: 32px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;
       
    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }

    .content-section .social {
        text-align: center;
    }
 }

