@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Mincho', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

/* Hero Section */
#hero {
    background: url("../images/bg.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

#hero h1 {
    display: block;
    position: relative;
    width: fit-content;
    color: #fff;
    font-size: 34px;
}

#hero h3 {
    display: block;
    position: relative;
    width: fit-content;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 18px;
}

#hero .cta {
    display: inline-block;
    padding: 10px 20px;
    color: #66FCF1;
    background-color: transparent;
    border: 2px solid #66FCF1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: #000;
    background-color: #66FCF1;
}
/* End Hero Section */